{{#partial "contenido_administrador"}}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
      <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
    </div>
    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
      <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
    </div>
  </div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Alta dispositivo</h1>
  </div>

  <form action="/administrador/dispositivos" method="POST">

    <div class="form-group">
      <label for="categoria">Categoria</label>
      <select class="form-control" name="categoria" required>
        <option value>Elige...</option>
        {{#each categoriaDispositivo}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" name="esInteligente">
      <label class="form-check-label" for="esInteligente">Es inteligente?</label>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" name="esBajoConsumo">
      <label class="form-check-label" for="esBajoConsumo">Es equipo de bajo consumo?</label>
    </div>

    <div class="form-group">
      <label for="consumo">Consumo (kWh)</label>
      <input type="text" class="form-control" name="consumo" placeholder="1.613" required>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>


</main>

{{/partial}}

{{>administrador/layout_administrador.hbs}}