{{#partial "extra_css"}}
	<link href="/home.css" rel="stylesheet">
{{/partial}}

{{#partial "contenido"}}

<main role="main">
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Entrega 4 - UI Web</h1>
          <p class="lead text-muted">Grupo 9 - DDS Miercoles TN - UTN</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Mapa</a>
            <a href="/login" class="btn btn-secondary my-2">Login</a>
          </p>
        </div>
      </section>
</main>

{{/partial}}

{{>layout.hbs}}